body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }
h1 {font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  }

.container {
   position: reletive;  
  padding-bottom: 40px;
}

.header {
  font-size: 50px;
  margin-left: 195px;
  font-weight: normal;
}

.link {
  text-decoration: none;
  position: absolute;
  right: 10px;
}

#chartdiv {
  overflow: hidden; 
  width: 100%;
  height: 500px;
  }
